{% extends "maths/main.html" %}

{% block title %}Maths list{% endblock %}

{% block content %}
    <form method="get">
        <label for="operation">Filtruj po operacji:</label>
        <select name="operation" id="operation">
            <option value="">-- Wszystkie --</option>
            <option value="add" {% if current_operation == "add" %}selected{% endif %}>Dodawanie</option>
            <option value="sub" {% if current_operation == "sub" %}selected{% endif %}>Odejmowanie</option>
            <option value="mul" {% if current_operation == "mul" %}selected{% endif %}>Mnożenie</option>
            <option value="div" {% if current_operation == "div" %}selected{% endif %}>Dzielenie</option>
        </select>
        <button type="submit">Szukaj</button>
    </form>
   <ul>
       {% for m in maths %}
           <li><a href="{% url "maths:details" m.id %}">{{ m }}</a></li>
       {% endfor %}
   </ul>
   <div class="pagination">
   <span class="step-links">
       {% if maths.has_previous %}
           <a href="?page=1">« first</a>
           <a href="?page={{ maths.previous_page_number }}">previous</a>
       {% endif %}

       <span class="current">
           Page {{ maths.number }} of {{ maths.paginator.num_pages }}.
       </span>

       {% if maths.has_next %}
           <a href="?page={{ maths.next_page_number }}">next</a>
           <a href="?page={{ maths.paginator.num_pages }}">last »</a>
       {% endif %}
   </span>
   </div>
{% endblock %}