<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Posts App{% endblock %}</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'posts:post_list' %}">Posts App</a></h1>
        <nav>
            <a href="{% url 'posts:post_list' %}">Lista postów</a> |
            <a href="{% url 'posts:author_list' %}">Lista autorów</a>
        </nav>
    </header>

    <div id="inner-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>